@use "../../../styles/theme/theme" as *;

.container {
  background-color: lighten($light, 10);
  border-radius: 0.2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // max-height: 5vh;
    padding: {
      right: .5rem;
    }

    span {
      font-size: 1.2rem;
      font-weight: 700;
    }

    svg {
      opacity: .35;
      max-height: 3vh;
    }
  }

  button {
    @include text-button($dark, $light);
    // background-color: $dark;
    // color: lightgrey;
  }

  button[datatype="icon-text"] {
    @include text-button($dark, $light);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: {
      inline: 1rem;
    }

    svg {
      max-height: 2vh;
    }
  }
}




.copied {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: transparent;
  transition: .4s all cubic-bezier(0.075, 0.82, 0.165, 1)
}

.copied[data-copied="true"] {
  display: block;
  color: $dark;
}