@use "../../styles/theme/theme" as *;

.container {
  background-color: darken($dark, 30);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & > video {
    width: 95vw;
    height: 95vh;
  }

  & > button[role="flip-camera"] {
    @include icon-button();

    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 10%;
    border-radius: 50%;
    padding: 1rem;

    & > svg {
      max-height: 60%;
    }
  }

  & > button[role="back"] {
    @include icon-button();

    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;

    svg {
      min-width: .75rem;
    }
  }
}


@media (min-width: 768px) {
  .container {
    padding-inline: 35%;
  }
}