@use "../../styles/theme/theme" as *;

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 1rem;
  gap: 5%;
}

