@use "../../styles/theme/theme" as *;

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 1rem;
  gap: 5%;
}

.idle {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;

  button {
    @include icon-button();

    height: 10rem;
    width: 10rem;

    svg {
      height: 50%;
      width: 50%;
    }
  }
}
