@use "../../styles/theme/theme" as *;

.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;

  button,
  label {
    @include icon-button();
    border-radius: 50%;
    
  }

  *[datatype='file-icon'] {
    width: 10rem;
    height: 10rem;
    svg {
      width: 3.5rem;
    }
  }

  *[datatype='back-icon'] {
    width: 4rem;
    height: 4rem;
    svg {
      width: 1rem;
    }
  }



  button {
    height: 10%;
  }
}
