@use "../../styles/theme/theme" as *;

.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;

  button,
  label {
    @include icon-button();
    border-radius: 50%;
    svg {
      max-height: 40%;
    }
  }

  button {
    height: 10%;
  }
}
