@use "./colors" as *;

@mixin base-button($back: $light, $fore: $dark) {
  border: none;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  color: $fore;
  background-color: $back;
  &:hover {
    background-color: darken($back, 10);
    color: $fore;
    transform: scale(1.02);
  }

  &:active {
    background-color: darken($back, 20);
    color: $fore;
    transform: scale(.96);
  }
}

@mixin icon-button($back: $dark) {
  @include base-button();
  color: $back;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: $light;
  border-radius: 6%;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);



  &:hover {
    background-color: darken($light, 10);
    color: $dark;
    transform: scale(1.04) !important;
  }

  &:active {
    background-color: darken($light, 15);
    color: lighten($dark, 5);
    transform: scale(0.95) !important;
    
  }
}

@mixin text-button($back: $light, $fore: $dark) {
  @include base-button($back, $fore);
}
