@use "../../styles/theme/theme" as *;

.container {
  overflow: hidden;
    margin: 0;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    padding: {
      block: .5rem;
    }
  
    span[role="label"] {
      text-transform: uppercase;
      font-weight: 900;
      color: darken($light, 30)
    }
  
  }